.academy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @media (min-width: @tablet-width) {
    justify-content: left;
    gap: 22px;
    width: auto;
  }

  &__link {
    font-family: @textFont;
    font-weight: 400;
    font-size: 16px;
    color: @special_dark-grey;
    text-decoration: none;

    @media (min-width: @tablet-width) {
      width: max-content;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__logo {
    line-height: 0;

    &:hover svg path {
      fill: @basic_green;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}
