.control {
  &__button {
    font-family: @headlineFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: @black;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      font-size: 20px;
    }
  }
}
